<h1>Lista de pedidos</h1>
<hr class="featurette-divider">

{{#filter-content content=model properties="emailAddress message" as |filteredContact query|}}
  <div id="filter-message">
    <label>Filtros de busqueda</label>
    {{input value=query class="form-control" placeholder="Busqueda por correo electronico / contendio mensaje / fecha"}}
  </div>
  <small class="{{if query '' 'invisible'}}" id="filter-message">
    Filtrando {{filteredAirports.length}}/{{airports.length}} Consultas encontradas
    <strong>"{{query}}"</strong>
  </small>
  {{#each filteredContact as |contact|}}
   <div class="panel panel-default" id="table-content">
     <div class="panel-heading">
       <h3 class="panel-title">{{contact.emailAddress}}</h3>
     </div>
     <div class="panel-body">
       <p>{{contact.message}}</p>
     </div>
   </div>
  {{/each}}
{{/filter-content}}
